In [8]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('./data/generated/gen-co2-emissions.csv')
df

,Entity,Year,Total (CO₂),Coal (CO₂),Oil (CO₂),Gas (CO₂),Cement (CO₂),Flaring (CO₂),Other (CO₂),Per Capita (CO₂)
0,Afghanistan,1750,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1751,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1752,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1753,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1754,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
61147,World,2018,3.676660e+10,1.472503e+10,1.226732e+10,7.498006e+09,1.565803e+09,407301862.0,303142150.0,4784956.0
61148,World,2019,3.703980e+10,1.468410e+10,1.237789e+10,7.621401e+09,1.615776e+09,435431524.0,305207416.0,4770127.0
61149,World,2020,3.504654e+10,1.422572e+10,1.093896e+10,7.555247e+09,1.633047e+09,398520302.0,295047904.0,4469679.0
61150,World,2021,3.685799e+10,1.498281e+10,1.155595e+10,7.922053e+09,1.692404e+09,403426985.0,301336295.0,4660085.0
61151,World,2022,3.719184e+10,1.521879e+10,1.192040e+10,7.747787e+09,1.605474e+09,398363454.0,301024628.0,4663492.0