In [8]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('./data/generated/gen-ghg-emissions.csv')
df

            Entity  Year         GHG
0      Afghanistan  1850   7435743.5
1      Afghanistan  1851   7499858.5
2      Afghanistan  1852   7560495.5
3      Afghanistan  1853   7619898.0
4      Afghanistan  1854   7678120.0
...            ...   ...         ...
37405     Zimbabwe  2019  34347856.0
37406     Zimbabwe  2020  31322906.0
37407     Zimbabwe  2021  33549390.0
37408     Zimbabwe  2022  33772416.0
37409     Zimbabwe  2023  33955148.0

[37410 rows x 3 columns]