In [15]:
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
dfco2 = pd.read_csv('../data/generated/gen-co2-emissions.csv')
dfco2[dfco2['Entity'] == 'World']

,Entity,Year,Total (CO₂),Coal (CO₂),Oil (CO₂),Gas (CO₂),Cement (CO₂),Flaring (CO₂),Other (CO₂),Per Capita (CO₂)
60879,World,1750,9.305937e+06,9.305937e+06,NaN,NaN,NaN,NaN,NaN,11437.0
60880,World,1751,9.407229e+06,9.407229e+06,NaN,NaN,NaN,NaN,NaN,11508.0
60881,World,1752,9.505168e+06,9.505168e+06,NaN,NaN,NaN,NaN,NaN,11574.0
60882,World,1753,9.610490e+06,9.610490e+06,NaN,NaN,NaN,NaN,NaN,11650.0
60883,World,1754,9.733580e+06,9.733580e+06,NaN,NaN,NaN,NaN,NaN,11747.0
...,...,...,...,...,...,...,...,...,...,...
61147,World,2018,3.676660e+10,1.472503e+10,1.226732e+10,7.498006e+09,1.565803e+09,407301862.0,303142150.0,4784956.0
61148,World,2019,3.703980e+10,1.468410e+10,1.237789e+10,7.621401e+09,1.615776e+09,435431524.0,305207416.0,4770127.0
61149,World,2020,3.504654e+10,1.422572e+10,1.093896e+10,7.555247e+09,1.633047e+09,398520302.0,295047904.0,4469679.0
61150,World,2021,3.685799e+10,1.498281e+10,1.155595e+10,7.922053e+09,1.692404e+09,403426985.0,301336295.0,4660085.0
61151,World,2022,3.719184e+10,1.521879e+10,1.192040e+10,7.747787e+09,1.605474e+09,398363454.0,301024628.0,4663492.0

In [17]:
dfghg = pd.read_csv('../data/generated/gen-ghg-emissions.csv')
dfghg[dfghg['Entity'] == 'World']

      Entity  Year           GHG
36714  World  1850  4.219061e+09
36715  World  1851  4.409311e+09
36716  World  1852  4.465078e+09
36717  World  1853  4.532813e+09
36718  World  1854  4.594584e+09
...      ...   ...           ...
36883  World  2019  5.279652e+10
36884  World  2020  5.079254e+10
36885  World  2021  5.293879e+10
36886  World  2022  5.332722e+10
36887  World  2023  5.381685e+10

[174 rows x 3 columns]

In [18]:
dfmerged = pd.merge(
    dfghg,
    dfco2,
    how='inner',
    on=['Entity', 'Year'],
)
dfmerged[dfmerged['Entity'] == 'World']

,Entity,Year,GHG,Total (CO₂),Coal (CO₂),Oil (CO₂),Gas (CO₂),Cement (CO₂),Flaring (CO₂),Other (CO₂),Per Capita (CO₂)
32005,World,1850,4.219061e+09,1.967520e+08,1.967520e+08,NaN,NaN,NaN,NaN,NaN,155821.0
32006,World,1851,4.409311e+09,1.986681e+08,1.986681e+08,NaN,NaN,NaN,NaN,NaN,156539.0
32007,World,1852,4.465078e+09,2.074142e+08,2.074142e+08,NaN,NaN,NaN,NaN,NaN,162602.0
32008,World,1853,4.532813e+09,2.171204e+08,2.171204e+08,NaN,NaN,NaN,NaN,NaN,169348.0
32009,World,1854,4.594584e+09,2.550332e+08,2.550332e+08,NaN,NaN,NaN,NaN,NaN,197911.0
...,...,...,...,...,...,...,...,...,...,...,...
32173,World,2018,5.242027e+10,3.676660e+10,1.472503e+10,1.226732e+10,7.498006e+09,1.565803e+09,407301862.0,303142150.0,4784956.0
32174,World,2019,5.279652e+10,3.703980e+10,1.468410e+10,1.237789e+10,7.621401e+09,1.615776e+09,435431524.0,305207416.0,4770127.0
32175,World,2020,5.079254e+10,3.504654e+10,1.422572e+10,1.093896e+10,7.555247e+09,1.633047e+09,398520302.0,295047904.0,4469679.0
32176,World,2021,5.293879e+10,3.685799e+10,1.498281e+10,1.155595e+10,7.922053e+09,1.692404e+09,403426985.0,301336295.0,4660085.0
32177,World,2022,5.332722e+10,3.719184e+10,1.521879e+10,1.192040e+10,7.747787e+09,1.605474e+09,398363454.0,301024628.0,4663492.0

In [ ]:
dfmerged.to_csv(f'../data/generated/gen_emissions ({dfmerged['Year'].min()}-{dfmerged['Year'].max()}).csv', index=False)
dfmerged[dfmerged['Entity'] == 'World'].to_csv('../data/generated/gen-world-emissions.csv')