In [26]:
import pandas as pd

# Pré-processamento das emissões de carbono
dfco2 = pd.read_csv('../data/co2-emissions.csv')
dfco2

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Afghanistan,AFG,1750,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
61147,Global,WLD,2018,36766.598778,14725.027416,12267.318643,7498.006142,1565.802564,407.301862,303.142150,4.784956
61148,Global,WLD,2019,37039.802953,14684.096262,12377.890216,7621.401428,1615.776108,435.431524,305.207416,4.770127
61149,Global,WLD,2020,35046.539976,14225.719088,10938.959381,7555.246643,1633.046658,398.520302,295.047904,4.469679
61150,Global,WLD,2021,36857.986325,14982.814606,11555.951947,7922.052742,1692.403750,403.426985,301.336295,4.660085
61151,Global,WLD,2022,37191.839936,15218.794204,11920.396391,7747.787151,1605.474109,398.363454,301.024628,4.663492

In [27]:
dfco2 = dfco2.drop(columns=['ISO 3166-1 alpha-3'])

# Especificação de colunas
dfco2 = dfco2.rename(columns={
    'Country': 'Entity',
    'Total': 'Total (CO₂)',
    'Gas': 'Gas (CO₂)',
    'Oil': 'Oil (CO₂)',
    'Coal': 'Coal (CO₂)',
    'Other': 'Other (CO₂)',
    'Cement': 'Cement (CO₂)',
    'Flaring': 'Flaring (CO₂)',
    'Per Capita': 'Per Capita (CO₂)',
})

# Ajuste de unidades de medida
co2_columns = [
    'Total (CO₂)',
    'Gas (CO₂)',
    'Oil (CO₂)',
    'Coal (CO₂)',
    'Other (CO₂)',
    'Cement (CO₂)',
    'Flaring (CO₂)',
    'Per Capita (CO₂)',
]

for col in co2_columns:
    if col in dfco2.columns:
        dfco2[col] = dfco2[col] * 1e6

dfco2['Entity'] = dfco2['Entity'].replace('Global', 'World')

dfco2.to_csv('../data/generated/gen-co2-emissions.csv', index=False)